<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--    引入css代码文件-->
    <link rel="stylesheet" href="/static/index.css">
</head>
<body>

<h3>Hello Alex!</h3>
<p>当前时间：{{now}}</p>
<p>四大名著：</p>
<div>
    <span onclick="get_page_books(1)">page1</span>
    <span onclick="get_page_books(2)">page2</span>
    <span onclick="get_page_books(3)">page3</span>
    <span onclick="get_page_books(4)">page4</span>
    <span onclick="get_page_books(5)">page5</span>

</div>
<p></p>

<!--js文件导入-->
<script src="/static/index.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.7.1/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/crypto-js.min.js"></script>
<script src="/static/book.js"></script>

</body>
</html>